<%= form_for(@job) do |f| %>
<% if @job.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

	<ul>
		<% @job.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</div>
  
<script>

  
$(document).ready(function() {

	$('#job_state_id').change(function() {
		//get the id of selected state
		//var state_id_alert = "State " + "ID " + "= " + $(this).val();
		var state_id = $(this).val();
		
		//alert(state_id);
	 
		$.ajax({
			
			//WORKS
			//url: "/states/1/jobs.json",
			
			//url: "/states/" + $(this).val() + "/cities.json",
			//state_id = $(this).val();
			//url: "/states/" + state_id + "/jobs",
			url: "/states/" + state_id + "/cities",
			method: "get",
			data: { 
				format: "json" },
			//error: alert("error"),
			success: function(data){
				//alert(state_id);
				//console.log(data[0].title);
				
				//var options =
			
				var results = data; 
				
				console.log(JSON.stringify(data));
				
				//$('#job_city_id').html(); //html method
					//"<select>"+"<option>" + results + "</option>"+"</select>"
					/*
						"<select>"+
						$.each( results, function(index, value ) {
							"<option>" + value.title + "</option>"
							//console.log(sand);
						})+"</select>" 
						*/
				
				//FRIDAY: Now, the problem is states/3/cities is not returning the right list of cities by the state id - check the controller 
				
				var $jobCityID = $('#job_city_id');
				$jobCityID.empty();
				$.each(results, function(i, value) {
					// you have include the append() call each time. "Append, append, append, append!""
							$jobCityID.append("<option value=" +value.id + ">" + value.name + "</option>");
						});
				
				
		
			
			
			} // success -- Only a curly brace is necessary here!!! 
		
		
		
		}); // ajax

			


	}); // change
	

	
	
	
}); // doc 
  
  
  
</script>

<div>
  <%# City.all.each do |city| %>
	<%#= city.name %>
  <%# end %>
</div>



  
<!--
collection_select (method, collection, value_method, text_method, options = {}, html_options = {} ) 
-->
  
 
<div class="field" >
	<%= f.label :state_id %>
	<%= f.collection_select :state_id, State.all, :id, :name, {:prompt => '-- Select a US State --'} %>
</div>
<div class="field">	
	<%= f.label :city_id %>
	<%= f.collection_select :city_id, City.all, :id, :name, {:prompt => '-- Select a US City --'} %>
  
	<%#= f.collection_select :city_id, State.cities, :id, :name, {:prompt => '-- Select a US City --'} %>
  
</div>
  

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
